@import "swiper.min.css"
@import "../fonts/iconfont.css"
@import "common"

body
  font-family: "Î¢ÈíÑÅºÚ"

.header
  background-color: #ed5858
  width: 100%
  height: 44px
  font-size: 0.16rem
  ul
    @include flex-box
    text-align: center
    line-height: 44px
    color: #ffffff
    li:first-child,li:last-child
      width: 44px
    li:nth-child(2)
      @include flex
.section
  @include flex
  //@include full
  //overflow: hidden
  .nav
    border-bottom: 1px #dddddd solid
    ul
      @include flex-box
      text-align: center
      line-height: 0.4rem
      li
        @include flex
      .active
        border-bottom: 1px #ed5858 solid
        color: #ed5858
  .conter
    padding-left: 0.15rem
    padding-right: 0.1rem
  .by
    border-bottom: 1px #dddddd solid
    p
      font-size: 0.14rem
      line-height: 0.34rem
      span:nth-child(2)
        color: #aaaaaa
    ul
      @include flex-box
      li
        @include flex
        font-size: 0.12rem
        color: #aaaaaa
        &:not(:nth-child(1))
          text-align: center
      li:first-child
        position: relative
        span:first-child
          font-size: 0.12rem
          color: #b6b6b6
          position: absolute
          right: 0
          top: 0
        span:nth-child(2)
          font-size: 0.36rem
          color: #ff8800
          em
            font-size: 0.15rem
      li:nth-child(2)
        span:first-child
          line-height: 0.22rem
        span:last-child
          em:first-child
            font-size: 0.16rem
            color: #000000
      li:last-child
        margin-top: -10px
        span:first-child
          width: 0.34rem
          height: 0.34rem
          background-color: #ff6161
          border-radius: 100%
          display: inline-block
          color: #ffffff
          text-align: center
          line-height: 0.34rem
          font-size: 0.1rem
        span:last-child
          em
            color: #ff6161


.footer
  width: 100%
  height: 49px
  background-color: #f7f7f7
  border-top: 1px #dddddd solid
  ul
    @include flex-box
    li
      @include flex
      text-align: center
      color: #929292
      i
        font-size: 0.22rem
      span
        font-size: 0.09rem
    .active
      border-top: 1px #ed5858 solid
      color: #ed5858

.mask
  position: absolute
  left: 0
  top: 0
  width: 100%
  height: 94%
  background: rgba(0,0,0,0.3)
  margin-top: 44px
  ul
    width: 100%
    height: 36%
    padding: 0 10px
    background-color: #ffffff
    li
      line-height: 44px
      border-bottom: 1px #dddddd solid
      padding-left: 19px
  .box
  & .check_one
    & input
      display: none
    & .toggle_one .small
      display: none
  & input:checked + .toggle_one .small
    display: block
  & input:checked + .toggle_one
    background-color: #3FBE00
  .toggle_one
    width: 20px
    height: 20px
    border: 1px #ccc solid
    border-radius: 100%
    display: inline-block
    .small
      width: 12px
      height: 8px
      border-left: 2px #fff solid
      border-bottom: 2px #fff solid
      -webkit-transform: rotate(-45deg)
      margin-left: 3px
      margin-top: 2px
      display: inline-block